<%= form_tag('/login', class: 'page-form') do %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag :username, :username, style: "display: block" %>
    <%= text_field_tag :username %>
  </div>

  <div>
    <%= label_tag :password, :password, style: "display: block" %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag 'Log in' %>
  </div>
<% end %>
